.presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 3rem;
	text-align: center;
	gap: 2rem;
	&--title {
		color: #666;
	}
	&--text {
		color: black;
		width: 40%;
		font-size: 1.2rem;
	}
}
